body {
	font-family: "Syne", sans-serif;
}

.fade-up {
	opacity: 0;
	transform: translateY(20px);
	animation: fadeUp 0.6s forwards;
}
@keyframes fadeUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.fade-out {
	opacity: 0;
	transform: translateY(-20px);
	transition: all 0.5s ease;
}
/* From Uiverse.io by ercnersoy */
#pressureText {
	white-space: pre-line; /* Baca \n sebagai enter */
	max-width: 600px; /* Biar nggak kepanjangan */
	margin: 0 auto; /* Tengah */
	text-align: center; /* Kalau mau rata tengah */
}
#backBtn,
#retryBtn {
	position: relative;
	z-index: 50; /* pastikan di atas elemen lain */
}
